[submodule "media"]
	path = media
	url = https://github.com/ghhccghk/media
[submodule "hificore/src/main/cpp/libusb-cmake"]
	path = hificore/src/main/cpp/libusb-cmake
	url = https://github.com/libusb/libusb-cmake
